file
test/*
examples/test.csv
file.gz
scratch
examples/Samplesheet_tongue_metaphlan.csv
bin/taxdump
community.ipynb
null
test/*
nf-core/*
./test
tmp*
test_*
test_output/
./nf-core
tmp*
./nf-core
merged_mqc
.nextflow*
work/
results/
.DS_Store
testing/
testing*
*.pyc
tmp
data/*
!data/test-run/*
bin/tmp-*
data
!examples/data/*
*assembly_refseq*
