tmp*
nf-core
examples/taxtriage_output
examples.tar.gz
databases
merged_mqc
.nextflow*
work/
results/
.DS_Store
testing/
testing*
*.pyc
tmp
data/*
!data/test-run/*
bin/tmp-*
multiqc*
data
!examples/data
