{
    "preset": ${preset},
    "quality_threshold": ${quality_threshold},
    "min_read_length": ${min_read_length},
    "enable_subsampling": ${enable_subsampling},
    "subsample_size": ${subsample_size},
    "max_cpus": ${max_cpus},
    "max_memory": ${max_memory},
    "kraken_db": ${kraken_db},
    "bracken_db": ${bracken_db},
    "outdir": ${outdir},
    "top_taxa": ${top_taxa},
    "confidence_threshold": ${confidence_threshold},
    "enable_krona": ${enable_krona},
    "enable_multiqc": ${enable_multiqc}
}