/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline on a desktop.

    Use as follows:
        nextflow run https://github.com/jhuapl-bio/taxtriage -latest -profile desktop,docker  -r main

----------------------------------------------------------------------------------------
*/
aws.client.anonymous = false

params {
    config_profile_name        = 'MCE profile for a mid-tier desktop'
    config_profile_description = 'Default profile for running MCE analysis on a variety of sample types on a mid-tier desktop'

    // Limit resources so that this can run on GitHub Actions
    resourceLimits = [
        cpus: 6,
        memory: 24.GB,
        time: 12.h
    ]

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input  = 'https://raw.githubusercontent.com/jhuapl-bio/taxtriage/main/examples/Samplesheet.csv'

    // Genome references
    skip_plots = false
    download_db = true
    remove_taxids = "9606"
    ignore_missing = true
    skip_denovo = true
    skip_refpull = false
    demux = true
    remove_commensal = true
    classifiers = 'kraken2'
    top_hits_count = 100
    taxtab = 'default'
    default_download = true
    annotate = true
    db = 'pluspfp16'
    outdir = 'tt_output'
    k2_minimum_hit_groups = 3
    min_reads_align = 3
    low_memory = false
    split_prefix = false
    min_conf = null
    compress_species = false
    remove_reference_file = null
    minmapq = 4
}
