/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run https://github.com/jhuapl-bio/taxtriage -latest -profile test,docker  -r main

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'MCE profile for the cloud'
    config_profile_description = 'Default profile for running MCE analysis on a variety of sample types on seqera tower'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 16
    max_time   = '24.h'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input  = 'https://raw.githubusercontent.com/jhuapl-bio/taxtriage/main/examples/Samplesheet.csv'

    // Genome references
    skip_plots = false
    download_db = true
    remove_taxids = "9606"
    demux = true
    remove_commensal = true
    classifiers = 'kraken2'
    outdir = 'test_output'
    top_hits_count = 20
    taxtab = 'default'
    default_download = true
    db = 's3://nftass/databases/k2_standard_20230605/'
    top_per_taxa = '10239:10:S 2:10:S'
    outdir = 'test_output'
    k2_minimum_hit_groups = 3
    min_reads_align = 3
    low_memory = false
    min_conf = 0.7
    remove_reference_file = "s3://nftass/databases/references/HomoSapiens/GrCh38/genome.fa"
    minmapq = 20
    reference_fasta = 's3://nftass/databases/references/pathogens/pathogens/pathogens.fasta'
}
