/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run https://github.com/jhuapl-bio/taxtriage -r main -latest -profile local,docker --outdir test_output

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Slurm Run profile'
    config_profile_description = 'Default configurations for a job submitter'
    executor = 'slurm'

}
